In [165]:
import pandas as pd

In [166]:
post_processed_data = pd.read_excel('post-processed.xlsx')
filtered_data = pd.read_excel('from_UI.xlsx')

In [167]:
post_processed_data.head()

    key   value Original_Key
0  Key1  value1   Orig Key 1
1  Key2  value2   Orig Key 2
2  Key3  value3   Orig Key 3
3  Key4  value4   Orig Key 4
4  Key5  value5   Orig Key 5

In [168]:
filtered_data.head()

    key   value Original_Key
0  Key1  value1   Orig Key 1
1  Key2  value2   Orig Key 2
2  Key7  value7   Orig Key 3

In [169]:
set1 = [(key,value) for key, value in post_processed_data[["Original_Key", "value"]].values]
print(set1)
set2 = [(key,value) for key, value in filtered_data[["Original_Key", "value"]].values]
print(set2)

[('Orig Key 1', 'value1'), ('Orig Key 2', 'value2'), ('Orig Key 3', 'value3'), ('Orig Key 4', 'value4'), ('Orig Key 5', 'value5')]
[('Orig Key 1', 'value1'), ('Orig Key 2', 'value2'), ('Orig Key 3', 'value7')]

In [170]:
master_set=[]
master_set+=set1
master_set+=set2
master_set

[('Orig Key 1', 'value1'),
 ('Orig Key 2', 'value2'),
 ('Orig Key 3', 'value3'),
 ('Orig Key 4', 'value4'),
 ('Orig Key 5', 'value5'),
 ('Orig Key 1', 'value1'),
 ('Orig Key 2', 'value2'),
 ('Orig Key 3', 'value7')]

In [171]:
list(list(set(set1)-set(set2)) + list(set(set2)-set(set1)))

[('Orig Key 4', 'value4'),
 ('Orig Key 5', 'value5'),
 ('Orig Key 3', 'value3'),
 ('Orig Key 3', 'value7')]

In [172]:
incorrect_data = list(set(set1)-set(set2))
incorrect_data

[('Orig Key 4', 'value4'), ('Orig Key 5', 'value5'), ('Orig Key 3', 'value3')]

In [145]:
new_user_data = list(set(set2)-set(set1))
new_user_data

[('Orig Key 3', 'value7')]

In [173]:
correct_data = set2
correct_data

[('Orig Key 1', 'value1'), ('Orig Key 2', 'value2'), ('Orig Key 3', 'value7')]

In [179]:
old_df = pd.read_csv('data/program_data.csv')

In [148]:
incorrect_df = pd.DataFrame(incorrect_data, columns=["DATA","PAGEID"])
incorrect_df["LABEL"] = 0
correct_df = pd.DataFrame(incorrect_data, columns=["DATA","PAGEID"])
correct_df["LABEL"] = 1
print(incorrect_df)
print(correct_df)

         DATA  PAGEID  LABEL
0  Orig Key 4  value4      0
1  Orig Key 5  value5      0
2  Orig Key 3  value3      0
         DATA  PAGEID  LABEL
0  Orig Key 4  value4      1
1  Orig Key 5  value5      1
2  Orig Key 3  value3      1

In [149]:
df = pd.concat([old_df,correct_df,incorrect_df])
df

         DATA  PAGEID  LABEL
0   Orig_Key3  value3      1
1   Orig_Key5  value5      1
2   Orig_Key4  value4      1
3   Orig_Key3  value3      0
4   Orig_Key5  value5      0
5   Orig_Key4  value4      0
0  Orig Key 4  value4      1
1  Orig Key 5  value5      1
2  Orig Key 3  value3      1
0  Orig Key 4  value4      0
1  Orig Key 5  value5      0
2  Orig Key 3  value3      0

In [181]:
df.to_csv('data1/program_data1.csv',index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'data1/program_data1.csv'

In [175]:
i_list = []
for key,value in incorrect_data:
    label = 0
    for words in key.split():
        i_list.append((words, value, label))
i_df = pd.DataFrame(i_list, columns=["DATA","PAGEID", "LABEL"])
i_df

   DATA  PAGEID  LABEL
0  Orig  value4      0
1   Key  value4      0
2     4  value4      0
3  Orig  value5      0
4   Key  value5      0
5     5  value5      0
6  Orig  value3      0
7   Key  value3      0
8     3  value3      0

In [177]:
c_list = []
for key,value in correct_data:
    label = 1
    for words in key.split():
        c_list.append((words, value, label))
c_df = pd.DataFrame(c_list, columns=["DATA","PAGEID", "LABEL"])
c_df

   DATA  PAGEID  LABEL
0  Orig  value1      1
1   Key  value1      1
2     1  value1      1
3  Orig  value2      1
4   Key  value2      1
5     2  value2      1
6  Orig  value7      1
7   Key  value7      1
8     3  value7      1